body {
	font-family: Raleway, sans-serif;
}

.callout {
	padding: 5px;
	margin-right: 5px;
	background: #e9ecef;
	border-radius: 5px;
	border-color: #ced4da;
}

header, footer {
	background-color: #e9ecef;
}

.KU_color_text {
	color: rgb(0, 81, 186);
}

.KU_color_background {
	background-color: rgb(0, 81, 186);
}

@media screen {
	.only-print {
		display: none;
	}
}

@media print {
    .no-print {
        display: none;
	}
}

/* Used to ensure footer is at bottom */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}