.ku-blue-background{
    background:#0051ba;
}
.ku-blue{
    color:#0051ba;
}
.ku-red-background{
    background:#e8000d;
}
.ku-red{
    color:#e8000d;
}
.ku-yellow-background{
    background:#ffc82d;
}
.ku-yellow{
    color:#ffc82d;
}
.ku-grey-background{
    background:#85898a;
}
.ku-grey{
    color:#85898a;
}
.ku-darkgrey{
    color:#51626f;
}
.ku-night-background{
    background:#003459;
}
.ku-night{
    color:#003459;
}
.ku-lake-background{
    background:#2767ff;
}
.ku-lake{
    color:#2767ff;
}
.ku-sky-background{
    background:#73cbf2;
}
.ku-sky{
    color:#73cbf2;
}
.ku-fog-background{
    background:#8e9fbc;
}
.ku-fog{
    color:#8e9fbc;
}
.ku-steam-background{
    background:#dde5ed;
}
.ku-steam{
    color:#dde5ed;
}
.ku-brick-background{
    background:#971b2f;
}
.ku-brick{
    color:#971b2f;
}
.ku-fire-background{
    background:#ff3042;
}
.ku-fire{
    color:#ff3042;
}
.ku-wheat-background{
    background:#f2a900;
}
.ku-wheat{
    color:#f2a900;
}
.ku-terracotta-background{
    background:#c66e4e;
}
.ku-terracotta{
    color:#c66e4e;
}
.ku-limestone-background{
    background:#d7d2cb;
}
.ku-limestone{
    color:#d7d2cb;
}